<div id="left_container">

<h1>
  <a href="{{SITE_ROOT}}/">data.lexingtonky.gov</a>
</h1>
<br/>
<h2>
  civic data repository
</h2>

<br/>
<br/>

<div id="tags">
		<ul>
            <li><a href="{{SITE_ROOT}}/opendata/?sort=name&dir=asc">All Data</a></li>
			<li id="tag_list"></li>
			<li class="separator"></li>
			<li class="icon-xsm" id="ideas"><a href="{{SITE_ROOT}}/ideas">Ideas</a></li>
      <li class="icon-xsm" id="add"><a href="{{SITE_ROOT}}/opendata/submit/">Submit Data</a></li>
      <li class="icon-xsm" id="nominate"><a href="{{SITE_ROOT}}/opendata/nominate/?sort=rating_score&dir=desc">Nominate Data</a></li>

			<li id="about"><a href="{{SITE_ROOT}}/about/">About</a></li>
            <li id="feeds"><a href="{{SITE_ROOT}}/feeds/">RSS Feeds</a></li>
            {% include "searchbar.html" %}
            {% if perms.opendata.change_resource %}
			<li class="separator"></li>
            <li id="admin"><a href="{{SITE_ROOT}}/_admin_">Administration</a></li>
            {% endif %}
		</ul>
	</div>

</div>
